<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Строймаг - интернет магазин</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public//css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../public/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="../public/css/slick-theme.css" />
    <link type="text/css" rel="stylesheet" href="../public/css/nouislider.min.css" />
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../public/css/style.css" />
</head>

<body>

    {{> header}}

    {{{body}}}

    {{> footer}}



    <!-- jQuery Plugins -->
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/slick.min.js"></script>
    <script src="../public/js/nouislider.min.js"></script>
    <script src="../public/js/jquery.zoom.min.js"></script>
    <script src="../public/js/main.js"></script>
</body>

</html>